@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-image: none;
	background-color: #000;
}

.container {
	width: 500px;
	height: 1010px;
	background-repeat: no-repeat;
	background-size: cover;
}

.container_imageless {
	background-image: none;
}

.content {
	color: #fff;
	width: 50%;
	margin-left: 100px;
	padding-right: 8%;
	transition: .3s ease;
	overflow-y: visible;
	float: left;
}

.photos {
	width:90%; 
	margin: 0px auto; 
	padding-top: 50px;
	text-align: center;
	margin-left: 100px;	
	margin-top: 150px;
	transition: .3s ease;
}

img {
	padding-top: 15px;
	vertical-align: top;
	width: 80%;
}

.photos.toggle {
	margin-left: 250px;
	transition: .3s ease;
}

.video {
	padding: 175px 5% 5% 11%;
}
