@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-color: #000;
}

.container {
	width: 1920px;
	height: 1010px;
	background-image: url("../img/headshots/large_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.container_imageless {
	background-image: none;
}

.sidebar {
	position: fixed;
	top: 0;
	left: -250px;
	background: #262626;
	width: 250px;
	height: 100%;
	transition: .3s;
}

.active {
	left: 0;
}

ul {
	margin: 0;
	padding: 20px 0;
}

ul li {
	list-style: none;
}

ul li a {
	padding: 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	border-bottom: 1px solid rgba(0,0,0,.2)
}

ul li a:hover {
	background-color: #abc8d3;
	color: #000;
}

.sidebarBtn {
	position: absolute;
	top: 0;
	right: -50px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	cursor: pointer;
	background: #000;
	border: none;
	outline: none;
}

.sidebarBtn span {
	display: block;
	width: 35px;
	height: 3px;
	background: #fff;
	position: absolute;
	top: 24px;
	transition: .3s;
}

.sidebarBtn span:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	transition: .3s;

}

.sidebarBtn span:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	transition: .3s;

}

.sidebarBtn.toggle span {
	background: transparent;
}

.sidebarBtn.toggle span:before {
	top: 0;
	transform: rotate(45deg);
}

.sidebarBtn.toggle span:after {
	top: 0;
	transform: rotate(-45deg);
}

.content {
	color: #fff;
	width: 33%;
	height: 33%;
	margin-left: 100px;
	transition: .3s ease;
	overflow-y: visible;
	float: left;
	padding-bottom: 50px;
}

@media screen and (max-width: 1023px){
	.content {
		width: 40%;
		background-color: rgba(0,0,0,0.5);
	}
}

.content.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}

.fname {
	color: #e8f9ff;
}

.lname {
	color: #abc8d3;
}

.sag {
	color: #D3C0AB;
}

.video {
	padding: 175px 5% 5% 8%;
	transition: .3s ease;
}

.video.toggle {
	padding: 175px 5% 5% 0%;
	margin-left: 350px;
	transition: .3s ease;
}

.videowrapper {
    clear: both;
    position: relative;
    padding-bottom: 50%;
   
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.headshots {
	vertical-align: top;
	width: 33%;
}

.resume_downloads {
	clear: both;
	margin-left: 100px;
	transition: .3s ease;
}

.resume_downloads.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

.resume_downloads a {
	text-decoration: none;
	color: #fff;
}

.resume_downloads a:hover {
	text-decoration: underline;
	color: #ABC8D3;
}

.resume_downloads_decoration {
	clear: both;
	margin-left: 40%;
	transition: .3s ease;
}

.resume_downloads_decoration.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

.resume_downloads_decoration a {
	text-decoration: underline;
	color: #fff;
}

.resume_downloads_decoration a:hover {
	text-decoration: underline;
	color: #ABC8D3;
}

table {
	color: #000;
	clear: both;
	background-color: #fff;
	width: 85%;
	margin: 50px 50px 0px 100px;
	border: 1px solid rgba(96,124,134,1);
	transition: .3s ease;
}

table.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

table caption {
	color: #fff;
	height: 50px;
	font-size: 40px;
	text-align: left;
	background-color: #607C86;
	padding-left: 5px;
}

.table-right {
	text-align: right;
}

td {
	width: 33%;
}

/* Film Here*/

.films {
	clear: both;
	margin-left: 100px;
	transition: .3s ease;
}

.films.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

ul.filmorder {
	display: inline-block;
	float: left;
	width: 100%;
}

li.filmlist {
	text-decoration: none;
	margin: 10px 0px 50px;
	padding: 0 5% 0 0;
	width: 500px;
	height: 300px;
	float: left;
	text-align: center;
}

h3 {
	color: #607C86;
	margin: 0;
	padding: 0;
	text-align: center;
}

h3.about {
	text-align: left;
	color: #fff;
	margin-top: 25px;
}

h4.title {
	margin: 0;
	padding: 0;
	color: #E8F9FF;

}

h4.title a {
	color: #866D52;
}

h4.title_aless {
	height: 15px;
	color: #e8f9ff;
}

h4.title a:hover {
	text-decoration: underline;
	background-color: #000;
	color: #e8f9ff;
}

h5 {
	color: #E8F9FF;
	margin: 0;
	padding: 0;
}
/*Photo gallery here*/

.gallery_title {
	clear: both;
	width: 100%;
	transition: .3s ease;
	font-size: 35px;
	text-align: center;
}

.gallery_title.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

a.title {
	text-decoration: none;
	color: #E8F9FF;
}

a.title:hover {
	text-decoration: underline;
	color: #ABC8D3;
}

.photos {
	clear: both;
	margin-left: 100px;
	width: 100%;
	transition: .3s ease;
}

.photos.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

ul.ul_photos {
	display: inline-block;
	float: left;
	width: 100%;
}

li.photolist {
	text-decoration: none;
	width: 500px;
	float: left;
	padding: 10px 20px 10px 0;
}

img.gallery {
	width: 100%;
}

/*Contact page here*/

.contact {
	clear: both;
	margin-left: 100px;
	transition: .3s ease;
}

.contact.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

ul.ul_contact {
	text-decoration: none;
}

li.li_contact {
	text-decoration: none;
}
