@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background-image: none;
	background-color: #000;
	width: 500px;
}

.container {
	width: 500px;
	height: 1010px;
	background-repeat: no-repeat;
	background-size: cover;
}

.container_imageless {
	background-image: none;
}

.content {
	color: #fff;
	width: 50%;
	margin-left: 100px;
	padding-right: 8%;
	transition: .3s ease;
	overflow-y: visible;
	float: left;
}

.photos {
	width:90%; 
	margin: 0px auto; 
	text-align: center;
	margin-left: 100px;	
	transition: .3s ease;
}

/* Headshot styling */

.headshots {
	clear: all;
	float: left;
	transition: .3s ease;
	margin-left: 100px;
}

.headshots.toggle {
	margin-left: 350px;
	transform: .3s ease;
}

.headshots a {
	float: left;
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

/*Thumbnail styles */

.thumbnails {
	clear: both;
	margin: 0 -15px 0 100px;
	width: 95%;
	transition: .3s ease;
}

.thumbnails.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

.thumbnails a {
	float: left;
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.thumbnails img {
	display: block;

}

.gallery_title {
	text-align: right;
}

img {
	vertical-align: top;
	width: 80%;
}

.photos.toggle {
	margin-left: 250px;
	transition: .3s ease;
}

.video {
	padding: 175px 5% 5% 11%;
}
