@charset "UTF-8";

.container {
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: none;
	margin-right: 0;
}

.container_imageless {
	width: 100vw;
}

.photos {
	width:90%; 
	margin: 0px auto; 
	text-align: center;
	margin-left: 100px;	
	transition: .3s ease;
}

table {
	margin-left: 25px;
}

/* Headshot styling */

.headshots {
	clear: all;
	float: left;
	transition: .3s ease;
	margin-left: 50px;
}

.headshots.toggle {
	margin-left: 350px;
	transform: .3s ease;
}

.headshots a {
	float: left;
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

/*Thumbnail styles */

.thumbnails {
	clear: both;
	margin: 0 -15px 0 100px;
	transition: .3s ease;
}

.thumbnails.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

.thumbnails a {
	float: left;
	width: 100%;
	height: auto;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.thumbnails img {
	display: block;
	width: 100%;
	height: auto;
}

.gallery_title {
	text-align: left;
	padding-left: 100px;
}

img {
	vertical-align: top;
	width: 100%;
}

.photos.toggle {
	margin-left: 250px;
	transition: .3s ease;
}

.video {
	width: 75vw;
	margin: 0;
	padding: 50px 0 0 100px;
	transition: .3s ease;
}

.video.toggle {
	padding: 175px 5% 5% 0%;
	margin-left: 350px;
	transition: .3s ease;
}

.films {
	margin-left: 25px;
}

li.filmlist {
	width: 70vw;
	height: auto;
	float: left;
	text-align: center;
	padding: 0;
}

.content {
	width: 75vw;
	background-color: #000;
}

.content p {
	margin-left: -50px;
}

#top-nav {
	width: 75vw;
}

#hr {
	max-width: 70vw;
}

.form-container {
	max-width: 65vw;
}

.form-container h1 {
	font-size: 22px;
}
input[type=email], input[type=text] {
	width: 270px;
}

.textarea {
	width: 270px;
}

.nav-tn a {
	float: left;
	width: 100%;
	height: auto;
}

.id-wrapper {
	max-width: 75vw;
}

.contact-page {
	margin-left: -50px;
}

.videowrapper {
	margin-left: -50px;
}

.resume_downloads_decoration {
	margin-left: 50px;
}

.nav-tn {
	margin-left: -50px;
	padding-right: 50px;
}
