@charset "UTF-8";

.container {
	width: 70vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: none;
}

.container_imageless {
	width: 70vw;
}

.photos {
	width:90%; 
	margin: 0px auto; 
	text-align: center;
	margin-left: 100px;	
	transition: .3s ease;
}

table {
	margin-left: 25px;
}

/* Headshot styling */

.headshots {
	clear: all;
	float: left;
	transition: .3s ease;
	margin-left: 100px;
}

.headshots.toggle {
	margin-left: 350px;
	transform: .3s ease;
}

.headshots a {
	float: left;
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

/*Thumbnail styles */

.thumbnails {
	clear: both;
	margin: 0 -15px 0 100px;
	width: 95%;
	transition: .3s ease;
}

.thumbnails.toggle {
	margin-left: 350px;
	transition: .3s ease;
}

.thumbnails a {
	float: left;
	width: 100%;
	padding-right: 25px;
	box-sizing: border-box;
	margin-bottom: 25px;
}

.thumbnails img {
	display: block;

}

.gallery_title {
	text-align: right;
}

img {
	vertical-align: top;
	width: 80%;
}

.photos.toggle {
	margin-left: 250px;
	transition: .3s ease;
}

.video {
	margin: 0;
	padding: 50px 0 0 25px;
	transition: .3s ease;
}

.video.toggle {
	padding: 175px 5% 5% 0%;
	margin-left: 350px;
	transition: .3s ease;
}

.films {
	margin-left: 25px;
}

li.filmlist {
	width: 70vw;
	height: auto;
	float: left;
	text-align: center;
	padding: 0;
}

.content {
	width: 50vw;
}

.form-container {
	width: 100%;
}

.container-form {
	width: 90vw;
}

form {
	margin: 0;
	padding: 0;
}

.contact-form h1 {
	width: 80%;
}

.form {
	width: 75%;
}